h1{
	color:red;
	position:relative;
	left:500px;
}
.div1{
	  height:12vh;
	  width:12vw;
	  background-color:black;
	  float:left;
	  border:1px solid red;
}
.div2{
	 height:12vh;
	  width:12vw;
	  background-color:white;
	  float:left;
	  border:1px solid red;
}
.parent{
	    display:inline-block;
		margin-left:1vw;
	    margin-top:1vh;
}
.c1{
  
  margin-top:4px;
   margin-left:0px;
}
.c2{
  margin-top:4px;
   margin-left:0px;
}
.c3{
  margin-top:4px;
   margin-left:0px;
}
.c4{
  margin-top:4px;
   margin-left:0px;
}
.c5{
  margin-top:4px;
   margin-left:0px;
}
.c6{
  margin-top:4px;
   margin-left:0px;
}
.c7{
  margin-top:4px;
   margin-left:0px;
}
.c8{
  margin-top:4px;
   margin-left:0px;
}
.c9{
  margin-top:4px;
   margin-left:0px;
}
.c10{
  margin-top:4px;
   margin-left:0px;
}
.c11{
  margin-top:4px;
   margin-left:0px;
}
.c12{
  margin-top:4px;
   margin-left:0px;
}.c13{
  margin-top:4px;
   margin-left:0px;
}.c14{
  margin-top:4px;
   margin-left:0px;
}.c15{
  margin-top:4px;
   margin-left:0px;
}
.c16{
  margin-top:4px;
   margin-left:0px;
}
.c17{
  margin-top:4px;
   margin-left:0px;
}
.c18{
  margin-top:4px;
   margin-left:0px;
}.c19{
  margin-top:4px;
   margin-left:0px;
}.c20{
  margin-top:4px;
   margin-left:0px;
}.c21{
  margin-top:4px;
   margin-left:0px;
}.c22{
  margin-top:4px;
   margin-left:0px;
}.c23{
  margin-top:4px;
   margin-left:0px;
}.c24{
  margin-top:4px;
   margin-left:0px;
}.c25{
  margin-top:4px;
   margin-left:0px;
}.c26{
  margin-top:4px;
   margin-left:0px;
}.c27{
  margin-top:4px;
   margin-left:0px;
}.c28{
  margin-top:4px;
   margin-left:0px;
}.c29{
  margin-top:4px;
   margin-left:0px;
}.c30{
  margin-top:4px;
   margin-left:0px;
}.c31{
  margin-top:4px;
   margin-left:0px;
}.c32{
  margin-top:4px;
   margin-left:0px;
}

